header,
nav,
main,
section,
aside,
footer {
box-shadow: 5px 5px black;
  border-radius: 5px;
  position: relative;
  min-height: 100px;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-shadow: 3px 3px black;

 &::after {
 	@include info;
 }
}
  h1 {
  	//@include info;
  } 

body {
	background: var(--page-bg);
}

header {
	padding: 5%;
	text-align: center;
}

	@keyframes animatedBackground {
		from {background-position: 0 0;}
		to {background-position: 100% 0;}
	}

	@keyframes animatedBackground-hover {
		from {background-position: 100% 0;}
		to {background-position: 0 0;}
	}

	#animate-area {
		background-image: url(../orange.svg);
		background-position: 0px 0px;
		background-repeat: repeat-x;

		animation: animatedBackground 30s linear infinite;
	}

	#animate-area:hover {
		background-image: url(../orange.svg);
		background-position: 0px 0px;
		background-repeat: repeat-x;

		animation: animatedBackground-hover 30s linear infinite;
	}

#dont {
	align-self: flex-end;
}

main {
	background: var(--main-bg);
	grid-area: copy;
	font-size: 150%;
	display: flex;
	padding-left: 2%;
	padding-right: 2%;
	flex-direction: column;
	justify-content: space-between;
}


aside {
	background: var(--aside-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}