header,
nav,
main,
section,
aside,
footer {
box-shadow: 5px 5px black;
  border-radius: 5px;
  position: relative;
  min-height: 100px;
  font-family: 'Fredoka One', cursive;

 &::after {
 	@include info;
 }
}
  h1 {
  	//@include info;
  } 

body {
	background: var(--page-bg);
}

header {
	background: var(--header-bg);
	//&::after {content: "header";}
}

nav {
	background: var(--nav-bg);
	//&::after {content: "navigation";}
}

main {
	background: var(--main-bg);
	//grid-row: 3/4;
	grid-area: copy;
	//&::after {content: "main";}
}

aside {
	background: var(--aside-bg);
	//&::after {content: "aside";}
}
/*footer {
	display: none;
	background: var(--footer-bg);
	&::after {content: "footer";}
}*/