body {
	margin: 40px;
}

.site {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 4fr;
	grid-gap: 8em 0em;

	
	grid-template-areas:
	"title title"
	"copy copy"
	//"navigation navigation"
	//"copy sidebar"
	//"copy foots"
}

@media screen and (max-width: 500px) {
	.site {
		grid-template-areas:
		"title title"
		"copy copy"
		"sidebar sidebar"
		"foots foots"
		"navivation navigation"
	}
}